#container {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-background-color: #f8f8f8;
}

#title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

#car-details {
    -fx-alignment: center-left;
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #dddddd;
}

#car-label, #start-date-label, #end-date-label {
    -fx-font-size: 12px;
    -fx-text-fill: #444444;
    -fx-font-weight: bold;
}
#car-label1, #start-date-label1, #end-date-label1 {
    -fx-font-size: 14px;
    -fx-text-fill: #444444;
   
}
