.sidebar {
    -fx-background-color: #292929;
    -fx-padding: 20;
}

.sidebar-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 16;
}

.sidebar-button:hover {
    -fx-background-color: #2c2c2c;
}
#line{
    
}

.sidebar-label {
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: center-right;
    -fx-padding: 10;
}